*{
    box-sizing: border-box;
}
.signUp-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    witdth: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.instagram-logo{
    width: 235px;
    height: 150px;
    margin-bottom: 30px 0;
}

.Facebook-icon{
    height: 20px;
    width: 20px;
}

.google-play-store{
    width: 134px;
    height: 40px;
    margin: 20px 5px 20px 0;
}

.microsoft-store{
    width: 134px;
    height: 40px;
    margin: 20px 5px;
}

.box-1{
    height:640px;
    width: 350px;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(255, 255, 255);
}

.box-2{
    display: flex;
    height:63px;
    width: 350px;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
}

input{
    background-color: rgb(250, 250, 250);
    font-weight: 400;
    line-height: 18px;
    font-size: 12px;
    padding: 9px 0 7px 8px;
    height: 36px;
    width: 268px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    outline: none;
    margin: 0 40px 6px 40px;
}
