body{
  background-color: #e6e7ee;
}
.loginpage{
  background-color: white;
margin-top:1%;
  font: size 10px; ;
  left: 32.5%;
   position: absolute;
  height: fit-content;
  /*border: 1px;
  border-style:  solid;*/
  width: 35%;
}
.entryfield{
  margin: 2px;
align-content: center;
border-color: rgb(125, 125, 177);
   /*border-style:  solid;
 border: 1px;*/
  margin-bottom: 10px;
  color: blue;
}
a{
  text-decoration: none;
}
#login{
  background-color: #3a5bee;
  width: 180px;
}
#ig{
margin-top: 5px;
  margin-bottom: 20px;
}
