*{
    box-sizing: border-box;
}

div{
    display: block;
}

.signUp-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    witdth: 100%;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.instagram-logo{
    width: 235px;
    height: 150px;
    margin-bottom: -44px;
}

.Facebook-icon{
    height: 17px;
    width: 17px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.google-play-store{
    width: 134px;
    height: 40px;
    margin: 20px 5px 20px 0;
}

.microsoft-store{
    width: 134px;
    height: 40px;
    margin: 20px 5px;
}

.box-1{
    height:625px;
    width: 350px;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(254, 254, 254);
}

.box-2{
    display: flex;
    height:63px;
    width: 350px;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(254, 254, 254);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
}

input{
    background-color: rgb(250, 250, 250);
    font-weight: 400;
    line-height: 18px;
    font-size: 12px;
    padding: 9px 0 7px 8px;
    height: 36px;
    width: 268px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    outline: none;
    margin: 0 40px 6px 40px;
}

input::placeholder{
    color: rgb(150, 150, 150);
    font-weight: normal;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.sign-up-message-1{
    font-size: 17px;
    color: rgb(142, 142, 142);
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0 40px 10px 40px;
    text-align: center;
}

button{
    background-color: rgb(0, 149, 246);
    color: rgb(255, 255, 255);
    font-weight: 600;
    line-height: 18px;
    text-allign: center;
    font-size: 14px;
    padding: 5px 9px;
    height: 36px;
    width: 268px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 7px;
    outline: none;
    margin: 14px 40px 10px 40px;
}

.links{
    color: #219ff8;
}
.links:hover{
    color: rgb(43, 98, 217);
}

.sign-up-button{
    background-color: rgba(0, 149, 246, 0.7);
}

.log-in-with-facebook:hover{
    color: rgb(203, 219, 227);
}

#m1{
    margin: 10px 40px 10px 40px;
}
#m1, #m2{
    margin-inline: auto;
    width: 74%;
    text-align: center;
    font-wieght: 400;
    line-height: 16px;
    color: rgb(142, 142, 142);
    white-space: pre-line;
    font-size: 12px;
    word-break: break-word;
}

.get-the-app{
    border: 0;
    line-height: 18px;
    font-size: 14px;
    margin: 10px 20px;
    text-align: center;
    vertical-align: baseline;
    display: block;
}

.a{
    color: #1b79f2;
    text-decoration-color: #1b79f2;
}